.photo-column{
    background-color: red;
    height:900px;
}

#photo-galary{
    background-color: green;
    height:900px;
}

.photo-sm{
    width: 100%;
    height:380px;
    background-color: rgb(100,100,200);
    margin-top:20px;
    overflow:hidden;
}

.photo-big{
    width: 100%;
    height:480px;
    background-color: rgb(200,100,200);
    margin-top:20px;
    overflow:hidden;
}

@media (min-width :575.98px){
    .vid{
        margin-top:20px;
        width:100%;
        height:400px;
    }
}

@media (min-width :767.98px){
    .vid{
        margin-top:20px;
        width:100%;
        height:600px;
    }
}

@media (min-width :991.98px){
    .vid{
        margin-top:20px;
        width:100%;
        height:800px;
    }
}